@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: Aeonik;
    src: url(../src/fonts/Aeonik.otf);
}

.Aeonik {
    font-family: Aeonik;
}


@font-face {
    font-family: AeonikBold;
    src: url(../src/fonts/AeonikBold.otf);
}

.AeonikBold {
    font-family: AeonikBold;
}